body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.ami{
    color: orange;
}

.flexible-contaner{
    display: flex;
    margin-bottom: 100px;
   
}
.moho{
    width: 50%;
    padding-left: 2%;
    
}
.moho img{
    width: 80%;
}
.link-buttom{
    text-decoration: none;
   background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}
.top-benner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ex{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.ex-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 20px 20px 40px gray;
    
}
.m{
    border-left: 5px solid tomato;
}
.s{
    border-left: 5px solid blue;
}
p{
    text-align: center;
}